<!--<div class="btn-group float-right" role="group" aria-label="Basic example">
      <button type="button" class="btn btn-outline-primary" routerLink="">Inicio</button>
      <button type="button" class="btn btn-outline-primary">Ayuda</button>
</div>-->
<header>
  <a href="https://www.uniandes.edu.co">
    <img src="https://uniandes.edu.co/sites/default/files/logo-header_0_0.png" alt="" heigth="60px">
  </a>
  <div class="header-right">
    <nav>
      <ul>
        <li><a href="" routerLink="">Inicio</a></li>
        <li><a href="">Ayuda</a></li>
      </ul>
    </nav>
    <a href="#" class="button red">Inicia Sesión</a>
  </div>
</header>